.add-color{
    margin-left: 40%;
    margin-right: auto;
}

.movie-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form input{
    padding: 5px;
    display: flex;
    font-size: 1.5rem;
    border:1px solid blue;
    border-radius: 5px;
    margin: 10px;
    color: blue;
}

.form-btn{
    border: 1px solid blue;
    background-color: red;
}

.card{
    padding: 10px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}


@media only screen and (max-width:700px) {
    .add-color{
        margin-left: 30%;
    }
}
@media only screen and (max-width:485px) {
    .add-color{
        margin-left: 20%;
    }
}

